.homepage {
  padding: 1rem;
  &__header {
    font-size: 2rem;
    color: black;
  }
  &__link {
    text-decoration: none;
    color: #1e88e5;
    transition: color 0.1s ease-in-out;
    &:visited {
      color: #1e88e5;
    }
    &:hover {
      color: #6ab7ff;
    }
  }
}
